@import 'setup';

html, 
body{
	position: relative;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	color: black;
	font-size: 62.5%;
	background: #42275a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p{
	line-height: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.1px;
}
p + p{
	margin-top: 25px;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
ul,
ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	width: 100%;
	display: block;
	max-width: 100%;
}
a{
	text-decoration: none;
}
h1{
	font-size: 40px;
	color: #fff;
}
h2{
	font-size: 36px;
	font-weight: 800;
}
h3{
	font-size: 30px;
	color: #fff;
}
h4{
	font-size: 25px;
	color: #74c045;
}

// layout
.non-fixed-layout{
	width: 100%;
	margin: 0 auto;
}
.fixed-layout{
	max-width: 1000px;
	margin: 0 auto;
}

.header-title{
	text-align: center;
	margin-top: 30px;
}

// form
.form-cont{
	display: flex;
	margin-top: 60px;
	.form{
		margin: 0 auto;
		position: relative;
		.form-item{
			display: flex;
			margin-bottom: 20px;
			border: 1px solid pink;
			padding: 20%;
			border-radius: 50%;
			width: 450px;
			height: 450px;
			border: none;
			flex-direction: column;
			justify-content: center;
			box-shadow: 1px 2px 14px black;
		}
		.random-button-cont{
			display: flex;
			justify-content: center;
			margin-top: 20px;
			.random-button{
				outline: none;
				width: 70%;
				height: 48px;
				border-radius: 5px;
				border: none;
				box-shadow: 1px 1px 2px black;
				font-size: 16px;
				background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
		}
		.form-item label{
			margin-bottom: 20px;
			text-align: center;
			font-size: 27px;
			color: antiquewhite;
		}
		.form-item select{
			height: 47px;
			font-size: 18px;
		}
		.next-item-button{
			border: none;
			background: skyblue;
			padding: 7px 0;
			font-size: 17px;
			border-radius: 5px;
			width: 50%;
			margin: 10px auto;
		}
		.option-1{
			background: #845EC2;
			position: absolute;
			z-index: 9999999;
			top: 0;
		}
		.option-2{
			background: #D65DB1;
			position: absolute;
			top: 6%;
			z-index: 999999;
		}
		.option-3{
			background: #FF6F91;
			position: absolute;
			top: 13%;
			z-index: 99999;
		}
		.option-4{
			background: #FF9671;
			position: absolute;
			top: 20%;
			padding: 16%;
			z-index: 9999;
			.topping-items{
				display: flex;
				justify-content: space-between;
				width: 274px;
				input{
					width: 20px;
					height: 20px;
				}
			}
		}
		.option-5{
			background: #FFC75F;
			position: absolute;
			top: 28%;
			z-index: 999;
		}
		.option-6{
			background: #F9F871;
			position: relative;
			top: 37%;
			z-index: 99;
		}
		.option-6 label{
			color: black;
		}
		.option-7{
			background: #3CB371;
			position: relative;
			bottom: 4%;
			input{
				outline: none;
				width: 100%;
				height: 150px;
				color: black;
				font-size: 29px;
				margin: auto;
				border-radius: 5px;
				border: none;
				transition: 0.4s;
				box-shadow: 1px 1px 2px black;
				background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				&:hover{
					height: 268px;
					border-radius: 50%;
			    box-shadow: 2px 2px 21px white;
				}
				&:active{
					height: 268px;
					border-radius: 50%;
			    box-shadow: 2px 2px 21px white;
				}
			}
		}
	}
}

.order-summary{
	display: flex;
	flex-direction: column;
	width: 67%;
	margin: 0 auto;
	text-align: left;
	h2{
		font-size: 51px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    color: burlywood;
	}
	h3{
		text-align: center;
    color: honeydew;
		font-size: 40px;
		line-height: 54px;
	}
}

.countdown{
	margin: 20px auto;
	width: 71%;
	text-align: center;
	font-size: 27px;
	color: black;
	background: cadetblue;
	box-shadow: 1px 1px 6px black;
	border-radius: 3px;
	height: 44px;
	padding: 7px;
}


/* ----------------------------------------------
 * Generated by Animista on 2018-6-10 11:37:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes slide-out-blurred-tl{0%{transform:translate(0,0) skew(0deg,0deg);
	transform-origin:50% 50%;filter:blur(0);opacity:1}100%{transform:translate(-1000px,-1000px) skew(80deg,10deg);transform-origin:100% 0;
	filter:blur(40px);
	opacity:0}}
	
 .next-item-animate{
	 animation: slide-out-blurred-tl 1.1s;
	 animation-fill-mode: forwards;
 }

 .resetBtn{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	.reset{
		border: none;
    padding: 20px;
    width: 237px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
		box-shadow: 0px 0px 9px white;
		background: lightgreen;
		transition: 0.4s;
		&:hover{
			margin-top: 5px;
			background: lighten($color: green, $amount: 15);
		}
	}
 }

