@import 'setup';

html, 
body{
	position: relative;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	color: black;
	font-size: 62.5%;
	background: #42275a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p{
	line-height: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.1px;
}
p + p{
	margin-top: 25px;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
ul,
ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	width: 100%;
	display: block;
	max-width: 100%;
}
a{
	text-decoration: none;
}
h1{
	font-size: 40px;
	color: #fff;
}
h2{
	font-size: 36px;
	font-weight: 800;
}
h3{
	font-size: 30px;
	color: #fff;
}
h4{
	font-size: 25px;
	color: #74c045;
}

// layout
.non-fixed-layout{
	width: 100%;
	border: 1px solid red;
	margin: 0 auto;
}
.fixed-layout{
	max-width: 1000px;
	margin: 0 auto;
	border: 1px solid yellow;
}

.header-title{
	text-align: center;
}

// form
.form-cont{
	display: flex;
	border: 1px solid black;
	.form{
		margin: 0 auto;
		position: relative;
		.form-item{
			display: flex;
			margin-bottom: 20px;
			border: 1px solid pink;
			padding: 20%;
			border-radius: 50%;
			width: 450px;
			height: 450px;
			flex-direction: column;
			justify-content: center;
			box-shadow: 1px 2px 14px black;
		}
	}
	.form-item label{
		margin-bottom: 20px;
		text-align: center;
		font-size: 22px;
		color: antiquewhite;
	}
	.option-1{
		background: #845EC2;
		position: absolute;
		z-index: 9999999;
		top: 0;
	}
	.option-2{
		background: #D65DB1;
		position: absolute;
		top: 6%;
		z-index: 999999;
	}
	.option-3{
		background: #FF6F91;
		position: absolute;
		top: 13%;
		z-index: 99999;
	}
	.option-4{
		background: #FF9671;
		position: absolute;
		top: 20%;
		z-index: 9999;
	}
	.option-5{
		background: #FFC75F;
		position: absolute;
    top: 28%;
		z-index: 999;
	}
	.option-6{
		background: #F9F871;
		position: relative;
		top: 37%;
		z-index: 99;
	}
	.option-6 label{
		color: black;
	}
	.option-7{
		background: #3CB371;
		position: relative;
		bottom: 4%;
	}
}

.order-summary{
	h2{
		text-align: center;
    color: honeydew;
    font-size: 50px;
	}
}


