article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  font-size: 62.5%;
  background: #42275a;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#734b6d), to(#42275a));
  background: linear-gradient(to right, #734b6d, #42275a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

p {
  line-height: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.1px; }

p + p {
  margin-top: 25px; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  width: 100%;
  display: block;
  max-width: 100%; }

a {
  text-decoration: none; }

h1 {
  font-size: 40px;
  color: #fff; }

h2 {
  font-size: 36px;
  font-weight: 800; }

h3 {
  font-size: 30px;
  color: #fff; }

h4 {
  font-size: 25px;
  color: #74c045; }

.non-fixed-layout {
  width: 100%;
  border: 1px solid red;
  margin: 0 auto; }

.fixed-layout {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid yellow; }

.header-title {
  text-align: center;
  margin-top: 30px; }

.form-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  margin-top: 60px; }
  .form-cont .form {
    margin: 0 auto;
    position: relative; }
    .form-cont .form .form-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px;
      border: 1px solid pink;
      padding: 20%;
      border-radius: 50%;
      width: 450px;
      height: 450px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-shadow: 1px 2px 14px black;
              box-shadow: 1px 2px 14px black; }
    .form-cont .form .form-item label {
      margin-bottom: 20px;
      text-align: center;
      font-size: 27px;
      color: antiquewhite; }
    .form-cont .form .form-item select {
      height: 47px;
      font-size: 18px; }
    .form-cont .form .option-1 {
      background: #845EC2;
      position: absolute;
      z-index: 9999999;
      top: 0; }
    .form-cont .form .option-2 {
      background: #D65DB1;
      position: absolute;
      top: 6%;
      z-index: 999999; }
    .form-cont .form .option-3 {
      background: #FF6F91;
      position: absolute;
      top: 13%;
      z-index: 99999; }
    .form-cont .form .option-4 {
      background: #FF9671;
      position: absolute;
      top: 20%;
      padding: 16%;
      z-index: 9999; }
      .form-cont .form .option-4 .topping-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 274px; }
        .form-cont .form .option-4 .topping-items input {
          width: 20px;
          height: 20px; }
    .form-cont .form .option-5 {
      background: #FFC75F;
      position: absolute;
      top: 28%;
      z-index: 999; }
    .form-cont .form .option-6 {
      background: #F9F871;
      position: relative;
      top: 37%;
      z-index: 99; }
    .form-cont .form .option-6 label {
      color: black; }
    .form-cont .form .option-7 {
      background: #3CB371;
      position: relative;
      bottom: 4%; }

.order-summary h2 {
  text-align: center;
  color: honeydew;
  font-size: 50px; }
